<% include partials/header.ejs %>

<div class="" style="display: table;margin-top: 30px;margin-left:auto;margin-right:auto">
  <div class="" style="width:22%;float: left;background-color:#f7f7f7;border-radius: 6px;box-shadow: 1px 1px 1px 1px #505050;border: 1px solid #808080">
    <div class="container" style="margin:20px auto;" >
      <img src="<%= user.image %>" alt="">
    </div>
    <div class="container" style="margin:20px auto;background-color: white" >
      <p><%= user.firstname %> <%= user.lastname %></p>
    </div>
    <div class="container" style="margin:20px auto;background-color:white" >
      <p><%= user.email%></p>
    </div>
    <div class="container" style="margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>
    <div class="container" style="margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>

  </div>


  <div class="" style="width:60%;margin-left: 5%;float:left;background-color:#f7f7f7;box-shadow: 1px 1px 1px 1px #505050;border-radius: 6px;border: 1px solid #808080">
    <div style="" class="container">
        <form class="form-group" style="margin:20px" action="#" method="post">
          <textarea id="txtarea" style="resize:none;margin:0 auto" name="postarea"rows="4" cols="80" placeholder="What are you thinking?"></textarea>

          <label for="picLabel">Upload an Image</label>
          <input id="picLabel" type="file" name="pic" accept="image/*"> <br>
          <input type="submit" value="Post">
        </form>
    </div>
    <div class="list-group" style="margin:10px">
      <div class="list-group-item list-group-item-action">
        <a href="/default_profile.jpg">
          <span class="pull-left ">
               <img src="/default_profile.jpg" width="48" height="48" class=" img-rounded" />
          </span>
          Poster's Name
        </a>
        <p>Post Content</p>
      </div>
      <div class="list-group-item list-group-item-action">
        <a href="/default_profile.jpg">
          <span class="pull-left ">
               <img src="/default_profile.jpg" width="48" height="48" class=" img-rounded" />
          </span>
          Poster's Name
        </a>
        <p>Post Content</p>
      </div>
      <div class="list-group-item list-group-item-action">
        <a href="/default_profile.jpg">
          <span class="pull-left ">
               <img src="/default_profile.jpg" width="48" height="48" class=" img-rounded" />
          </span>
          Poster's Name
        </a>
        <p>Post Content</p>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    //alert("conn");
  </script>
<% include partials/footer.ejs %>
