<% include partials/header.ejs %>

     <div class="" style="display: table;margin-top: 30px;margin-left:auto;margin-right:auto">

      <div class="" style="width:22%;float: left;background-color:#f3f3f3;box-shadow: 1px 1px 1px black;border: 1px solid">
        <div class="container" style="margin:20px auto;" >
          <img src="<%= user.image %>" alt="">
        </div>
        <div class="container" style="margin:20px auto;background-color: white" >
          <p><%= user.firstname %> <%= user.lastname %></p>
        </div>
        <div class="container" style="margin:20px auto;background-color:white" >
          <p><%= user.email%></p>
        </div>
        <div class="container" style="margin:20px auto;background-color:white" >
          <p>Personal Details</p>
        </div>
        <div class="container" style="margin:20px auto;background-color:white" >
          <p>Personal Details</p>
        </div>

      </div>


      <div class="" style="width:60%;margin-left: 5%;float:left;background-color:#f3f3f3;box-shadow: 1px 1px 1px black;border: 1px solid">
        <div style="" class="container">
            <form class="form-group" style="margin:20px" action="#" method="post">
              <textarea id="txtarea" style="resize:none;margin:0 auto" name="postarea"rows="4" cols="80" placeholder="What are you thinking?"></textarea>

              <label for="picLabel">Upload an Image</label>
              <input id="picLabel" type="file" name="pic" accept="image/*"> <br>
              <input type="submit" value="Post">
            </form>
        </div>
        <ul>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
          <li>sfddfa</li>
        </ul>
      </div>

     </div>

      <script type="text/javascript">
        //alert("conn");
      </script>
<% include partials/footer.ejs %>
