<% include partials/header.ejs %>
    <div class="row" style="margin:30px">
      <div class="col-lg-2" style="background-color:#f3f3f3">
        <div class="container" style="margin:20px auto;" >
          <img src="<%= user.image %>" alt="">
        </div>
        <div class="container" style="margin:20px auto;background-color: white" >
          <p><%= user.firstname %> <%= user.lastname %></p>
        </div>
        <div class="container" style="margin:20px auto;background-color:white" >
          <p><%= user.email%></p>
        </div>
        <div class="container" style="margin:20px auto;background-color:white" >
          <p>Personal Details</p>
        </div>
        <div class="container" style="margin:20px auto;background-color:white" >
          <p>Personal Details</p>
        </div>

      </div>
      <div class="col-lg-1">

      </div>
      <div class="col-lg-6" style="background-color:#f3f3f3">
        <div style="margin:30px;" class="container form-group">
            <form action="#" method="post" style="border: 5px solid #000000;">
              <textarea style="resize:none" name="postarea" rows="8" cols="80" placeholder="What are you thinking?"></textarea>

              <label for="picLabel">Upload an Image</label>
              <input id="picLabel" type="file" name="pic" accept="image/*"> <br>
              <input type="submit" value="Post">
            </form>
        </div>
      </div>

    </div>
<% include partials/footer.ejs %>
