<% include partials/header.ejs %>


    <div class="" style="margin-top: 30px;margin-left:auto;margin-right:auto;width:60%;background-color:#f7f7f7;box-shadow: 2px 1px 1px 1px #505050;border-radius: 6px;border: 1px solid #808080">
      <div class="list-group-item" style="text-align:center">
        <h4>Jobs Posted By Connected Users</h4>
      </div>

        <div class="row" style="margin:15px">

            <div class="col-sm-4" style="margin-bottom:10px">
                <div class="card" style="width: 18rem;height:25rem">
                  <a href="#" style="text-align:center">
                    <img class="" src="" width="200"height="200"  alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Job Title</h5>
                  </a>
                  <p class="card-text">Description</p>
                  <p class="card-text">Company</p>
                </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-bottom:10px">
                <div class="card" style="width: 18rem;height:25rem">
                  <a href="#" style="text-align:center">
                    <img class="" src="" width="200"height="200"  alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Job Title</h5>
                  </a>
                  <p class="card-text">Description</p>
                  <p class="card-text">Company</p>
                </div>
                </div>
            </div>

        </div>
      </div>

  <% include partials/footer.ejs %>
